Repository jacky-le-goldenowl/peace-boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: server-lint, client-js-lint, client-css-lint

lefthook.yml:

commit-msg:
  commands:
    lint-commit-msg:
      run: ruby .hooks/lint_commit_msg.rb

pre-commit:
  parallel: true
  commands:
    server-lint:
      root: "app/"
      glob: "*.rb"
      run: bundle exec rubocop -A --force-exclusion {staged_files}
      stage_fixed: true
    client-js-lint:
      root: "app/"
      glob: "*.{ts,tsx,js,jsx}"
      run: yarn fix:js {staged_files}
      stage_fixed: true
    client-css-lint:
      root: "app/"
      glob: "*.{css,scss}"
      run: yarn fix:css {staged_files}
      stage_fixed: true

pre-push:
  commands:
    client-tests:
      root: "client/"
      glob: "*.{ts,tsx}"
      run: yarn test

feat: add view_component
  Gemfile
  Gemfile.lock
  app/frontend/components/application_view_component.rb
  app/frontend/components/application_view_component_preview.rb
  config/application.rb
  config/initializers/view_component.rb
  lib/generators/view_component/USAGE
  lib/generators/view_component/templates/component.html.slim.tt
  lib/generators/view_component/templates/component.rb.tt
  lib/generators/view_component/templates/component_spec.rb.tt
  lib/generators/view_component/templates/component_system_spec.rb.tt
  lib/generators/view_component/templates/preview.rb.tt
  lib/generators/view_component/view_component_generator.rb
  spec/rails_helper.rb
Due: server-lint

fix: lefthook
  app/views/pwa/manifest.json.erb
  app/views/pwa/service-worker.js
  eslint.config.js
  lefthook.yml
Due: client-js-lint

fix: rubocop & stylelint
  lefthook.yml
  lib/generators/view_component/view_component_generator.rb
Due: none

chore: use scss
  .stylelintrc.js
  app/frontend/entrypoints/application.js
  app/frontend/stylesheets/application.scss
  app/frontend/stylesheets/base.scss
  app/frontend/stylesheets/index.css
  app/frontend/stylesheets/reset.scss
  config/routes.rb
  package.json
  postcss.config.cjs
  tailwind.config.js
  yarn.lock
Due: client-js-lint, client-css-lint

fix: remove view_component
  Gemfile
  Gemfile.lock
Due: none

chore: remove view_component
  config/application.rb
  config/initializers/view_component.rb
  lib/generators/view_component/USAGE
  lib/generators/view_component/templates/component.html.slim.tt
  lib/generators/view_component/templates/component.rb.tt
  lib/generators/view_component/templates/component_spec.rb.tt
  lib/generators/view_component/templates/component_system_spec.rb.tt
  lib/generators/view_component/templates/preview.rb.tt
  lib/generators/view_component/view_component_generator.rb
  spec/rails_helper.rb
Due: none

feat: view_component_contrib
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/frontend/components/alert/component.html.slim
  app/frontend/components/alert/component.rb
  app/frontend/components/alert/component_controller.js
  app/frontend/components/alert/preview.rb
  app/frontend/components/application_view_component.rb
  app/frontend/components/application_view_component_preview.rb
  app/frontend/controllers/index.js
  app/frontend/entrypoints/application.js
  app/frontend/images/icons/alert-check.svg
  app/frontend/images/icons/alert-error.svg
  app/frontend/images/icons/alert-info.svg
  app/frontend/images/icons/alert-warning.svg
  app/frontend/stylesheets/application.scss
  app/frontend/stylesheets/application.tailwind.scss
  app/frontend/stylesheets/index.scss
  app/helpers/application_helper.rb
  app/views/home/index.html.erb
  app/views/home/index.html.slim
  bin/setup
  config/application.rb
  config/environments/development.rb
  config/environments/test.rb
  config/initializers/view_component.rb
  config/routes.rb
  config/vite.json
  lib/generators/view_component/USAGE
  lib/generators/view_component/templates/component.html.slim.tt
  lib/generators/view_component/templates/component.rb.tt
  lib/generators/view_component/templates/component_spec.rb.tt
  lib/generators/view_component/templates/component_system_spec.rb.tt
  lib/generators/view_component/templates/preview.rb.tt
  lib/generators/view_component/view_component_generator.rb
  package.json
  spec/frontend/components/alert_spec.rb
  spec/rails_helper.rb
  tailwind.config.js
  yarn.lock
Due: server-lint, client-js-lint, client-css-lint

chore: comment out create_system_test_file
  lib/generators/view_component/view_component_generator.rb
Due: none

fix: fix ci
  lib/generators/view_component/view_component_generator.rb
Due: none

chore: F
  lib/generators/view_component/view_component_generator.rb
Due: none

feat: update component
  Gemfile
  Gemfile.lock
  app/frontend/components/alert/component.html.slim
  app/frontend/components/alert/component.rb
  app/frontend/components/alert/preview.rb
  app/frontend/components/application_view_component.rb
  app/frontend/components/button/component.html.slim
  app/frontend/components/button/component.rb
  app/frontend/components/button/preview.rb
  app/frontend/components/card/component.html.slim
  app/frontend/components/card/component.rb
  app/frontend/components/card/preview.rb
Due: server-lint

feat: form fields component
  .rubocop.yml
  app/frontend/components/inputs/label/component.rb
  app/frontend/components/inputs/label/preview.rb
  app/frontend/components/inputs/select/component.html.slim
  app/frontend/components/inputs/select/component.rb
  app/frontend/components/inputs/select/preview.rb
  app/frontend/components/inputs/text/component.html.slim
  app/frontend/components/inputs/text/component.rb
  app/frontend/components/inputs/text/preview.rb
  app/frontend/components/inputs/textarea/component.html.slim
  app/frontend/components/inputs/textarea/component.rb
  app/frontend/components/inputs/textarea/preview.rb
  app/helpers/application_helper.rb
  app/helpers/form_builders/daisy_form_builder.rb
  app/views/home/index.html.slim
Due: server-lint

chore: change rubocop
  .rubocop.yml
Due: none

feat: add lsp gem
  Gemfile
  Gemfile.lock
Due: none

feat: UiFormHelpers
  app/frontend/components/inputs/label/preview.rb
  config/initializers/form_builder_extensions.rb
  lib/templates/ui_form_helpers.rb
Due: server-lint

chore: dependabot
  .github/dependabot.yml
Due: none

Update README.md
  README.md
Due: none
